<html>
  <body>
    <div>
      <p>Hello,</p>
      <p>Your user account with the MJ4Meds has been created. Please click <a href="<%= token_url %>">here</a> to complete your registration.</p>
    </div>
  </body>
</html>